<dd>Brique rudimentaire de terre mêlée de paille, séchée au soleil.</dd>
<dd>Adobe Systems ou Adobe ( /adob/ en français, /əˈdoʊbi:/ en anglais ) est une entreprise informatique éditant des logiciels graphiques dont InDesign, Acrobat, Photoshop, Illustrator et Flash. La société a également édité des logiciels de montage vidéo (Adobe Premiere Pro et After Effects) et audio (Adobe Audition). Ces derniers sont maintenant des références mondiales dans le domaine de l'édition vidéo, photo, audio et dans l'illustration et le graphisme. Adobe vient du nom de la rivière Adobe Creek (en) (Los Altos, Californie) qui coule derrière la maison de son fondateur John Warnock.</dd>
