<dd>Android est le système d'exploitation mobile crée par Google. Il équipe la majorité des téléphones portables du moment (smartphones). ... Android équipe également les tablettes tactiles. Android est réputé pour être plus libre et ouvert que iOs, le système qui équipe l'iPad d'Apple.</dd>
<dd>Automate dont l'aspect évoque l'homme.</dd>
