<dd>Vient de l’anglais : Basic Input Output System, il s’agit d’un logiciel essentiel de votre ordinateur dont une partie est dans une mémoire morte (ROM : que vous ne pouvez pas modifier), et une autre partie est dans un EEPROM (ROM que l’on peut modifier par impulsions électriques, d’où le terme flasher lorsque vous la modifiez). Quand votre ordinateur est mis sous tension le BIOS va effectuer les opérations suivantes :
	<ul>
		<li>Faire le test du CPU</li>
		<li>Vérifier le BIOS</li>
		<li>Vérifier la configuration du CMOS</li>
		<li>Initialiser le timer-(l’horloge interne)-</li>
		<li>Initialiser le contrôleur DMA</li>
		<li>Vérifier la mémoire vive et la mémoire cache</li>
		<li>Installer toutes les fonctions du BIOS-Vérifier toutes les configurations (clavier, disquettes, disques durs …)</li>
	</ul>
</dd>