<dd>
	Chrome est un navigateur web propriétaire développé par Google basé sur le projet libre Chromium fonctionnant sous Windows, Mac, Linux, Android et iOS. Google Chrome est identique à Chromium hormis un logo différent et quelques fonctionnalités en moins ou en développement.
</dd>
<dd>
	Métal blanc, analogue au fer et au manganèse. (Élément chimique de symbole Cr, de numéro atomique 24, de masse atomique 51,996.) Oligoélément métallique nécessaire à l'organisme dans diverses réactions biochimiques : métabolisme des glucides et des lipides principalement.
</dd>