<dd>Un navigateur Web libre, open-source, multi-plateforme
	dévelopé par la Mozilla Corporation et des centaines de
	volontaires.</dd>
<dd>Le petit panda, panda roux, panda fuligineux ou panda
	éclatant (Ailurus fulgens), est un mammifère originaire
	de l'Himalaya et de la Chine méridionale.</dd>