<dd>Ne jamais l'utiliser.!!!</dd>
<dd>Internet Explorer, parfois abrégé IE, MIE ou MSIE, est le navigateur web développé par la société américaine Microsoft, installé par défaut avec Windows. Entre la fin des années 1990, quand il détrône Netscape Navigator, jusque vers 2012, c'est le navigateur web le plus utilisé au monde.</dd>