<dd>Le préprocesseur (ou "<i>préprocessing</i>") est un programme exécuté lors de la première phase de la compilation. Il effectue des modifications textuelles sur le fichier source à partir de directives.</dd>
